.closeBtn {
    background: white;
    padding: 4px;
    height: 20px;
    width: 20px;
    font-size: 10px;
}

.jioFacebookPageContainer {

    margin: 0 auto;
    text-align: center;
    background: #E9EBEE;

    .pageHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        position: relative;
        background: #4267B2;
        height: 30px;
        color: #fff;

        h3 {
            flex-grow: 1;
        }

        .headerActions {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-grow: 2;

            .home {
                margin-left: 20px;
            }
        }

        .UserDetailsPopUp {
            position: absolute;
            top: 100%;
            right: -1px;
            z-index: 2;
        }


    }

    .jioFacebookPageContentWrapper {
        padding: 40px 20px 20px 20px;
        display: flex;
        justify-content: space-between;

        .leftContentContainer {
            flex-grow: 2;

            .createPostContainer {
                border-radius: 3px;
                text-align: left;
                background: #fff;

                span {
                    padding: 5px 10px;
                    font: 14px;
                    display: block;
                    background: #F5F6F7;
                }

                .creatPostInput {
                    padding: 5px 10px;
                    display: flex;
                    flex-direction: column;

                    input {
                        height: 40px;
                        padding: 10px;
                        border: none;
                    }

                    button {
                        background: #4267B2;
                        border: none;
                        border-radius: 3px;
                        padding: 5px 10px;
                        color: #fff;
                    }
                }
            }
        }

        .rightContentContainer {
            flex-grow: 1;
            margin-left: 20px;
            background: #fff;
        }
    }
}

.allSectionsContainer {
    display: flex;
    height: 100vh;
    // border: 1px solid #D7D7D7;
    // padding: 20px;
    justify-content: space-between;
    // background: #fff;
    margin-top: 20px;
    border: none;
    border-radius: 2px;

}

.facebookSectionContainer {
    height: 100%;
    width: 100%;
    // background: #FFFFFF;
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    input {
        width: auto;
        border: none;
        border-bottom: 1px solid #D7D7D7;
    }
}

.userDetailsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        background: none;
        height: 30px;
        width: 50px;
        border-radius: 5px;
    }
}

.postContainer {
    padding: 10px 10px 5px 10px;
    margin-bottom: 10px;
    // border: 1px solid blue;
    color: black;
    position: relative;
    background: #fff;
    .postContainerWrapper {
        width: 90%;
        margin: 0 auto;

        .userTitleContainer {
            .profilePicContainer {
                button {
                    background: white;
                    padding: 4px;
                    height: 20px;
                    width: 20px;
                    font-size: 10px;
                }
            }
        }


        .menuPopUp {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80%;
            height: 40%;
            background: #FFFFFF;
            border: 1px solid #D7D7D7;
            transform: translate(-50%, -50%);
            padding: 5px 10px;
            z-index: 2;

            span {
                display: block;
                border-bottom: 1px solid #D7D7D7;
                padding: 5px 0px;
                text-align: left;
            }
        }

        .postTopContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 5px;



            .menuToggleContainer {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    width: 3px;
                    height: 3px;
                    background: #000000;
                    ;
                    display: block;
                    border-radius: 50%;
                    position: relative;

                    &::before,
                    &::after {
                        content: '';
                        width: 3px;
                        height: 3px;
                        background: #000000;
                        display: block;
                        position: absolute;
                        border-radius: 50%;
                    }

                    &::before {
                        top: -5px
                    }

                    &::after {
                        top: 5px;
                    }
                }
            }
        }

        .commentInput {
            input {
                background: #F2F3F5;
                border-radius: 7px;
                padding: 5px;
                width: 90%;
            }
        }

        .commentContainer {
            .comment {
                background-color: #F2F3F5;
                padding: 5px 10px;
                border-radius: 7px;
                text-align: left;
                margin-bottom: 5px;
            }
        }
    }
}


.postActionsConatiner {
    display: flex;
    justify-content: space-around;

    button {
        background: none;
        border: none;
    }
}

.profilePicContainer {
    display: flex;
    // flex-direction: column;
    align-items: center;
    .crossbtn{
        position: absolute;
        right: 20px;
    }

    p {
        margin: 0;
        margin-left: 10px;
    }

    span {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: skyblue;
    }
}